@media (min-width: 768px) {
    .navbar-expand-lg .navbar-toggler {
      display: block !important;
    }
  
    .navbar-expand-lg .navbar-collapse {
      display: none !important;
    }
  
    .navbar-expand-lg.show .navbar-toggler {
      display: none !important;
    }
  
    .navbar-expand-lg.show .navbar-collapse {
      display: block !important;
    }
  }
  